* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');


.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}

$MainText-color: #f0e6d2; //Основний текстовий кольор
$color-bg: #1a1a1a; // фон (напів прозорий для текстових блоків (rgb 26,26,26))
$color-gold: #c9a66b; // Золотий відтінок

$color-1: #153d3c; // тёмно-бирюзовый
$color-2: #1b6c7e; // морской синий
$color-3: #2f8e8b; // бирюзово-синий
$color-4: #0b1a1a; // глубокий морской
$color-5: #3a5557; // серо-синий

@mixin flex-layout( $direction: row, $justify: space-around, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin background-overlay($color, $alpha) {
  background-color: rgba($color, $alpha);
}

@mixin ship-size($size) {
  width: $size * 40px;
  height: 40px;
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.5));
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.backGroundMain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  object-fit: cover;
}

header {
  font-family: 'Pirata One', cursive;
  @include flex-layout(row, center, center);
  @include background-overlay($color-bg, 0.7);
  color: $MainText-color;
  padding: 15px 0;

  .logo {

    h1 {
      text-align: center;
      font-size: 4rem;
      letter-spacing: 5px;
      pointer-events: none;
      font-weight: 500;
    }

    h2 {
      font-size: 1.5rem;
      pointer-events: none;
      letter-spacing: 2px;
      font-weight: 200;

    }
  }
}

main {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;

  .wrapper {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 200px;
    grid-template-rows: 460px 100px;
    column-gap: 30px;
    //@include background-overlay($color-bg, 0.7);
    .shipsContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: end;
      grid-column: 1 / 2;
      grid-row: 1 / 3;

      .ships-palette {
        display: grid;
        max-height: 400px;
        grid-auto-flow: row;
        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
        gap: 20px;
        padding: 20px;
        overflow-y: auto;
        //align-content: center;
        border: 4px solid $color-4;
        @include background-overlay($color-bg, 0.7);

        //padding: 15px;
        border-radius: 8px;
        //box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


      }


    }
    .navigation{
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 2 / 4;
      grid-row: 2 / 3;
    }


    .ship {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $color-3;
      border-radius: 8px;
      margin-bottom: 30px;
      //box-sizing: content-box;
      //padding: 10px;
      cursor: grab;
      transition: height .2s linear, width .3s linear .1s, scale .3s ease-out;

      img {
        width: 100%;
        height: 100%;
        pointer-events: none;
        filter: drop-shadow(10px 5px 5px rgba(0, 0, 0, 0.5));
        transform-origin: center;
        transition: transform .3s linear, width .2s linear .1s;
        object-fit: contain;
      }
    }


    .ship[data-length="4"] {
      width: 160px;
      height: 40px;
    }

    .ship[data-length="3"] {
      width: 120px;
      height: 40px;
    }

    .ship[data-length="2"] {
      width: 80px;
      height: 40px;
    }

    .ship[data-length="1"] {
      width: 40px;
      height: 40px;
    }

    .ship.vertical[data-length="4"] {
      width: 40px;
      height: 160px;
      transition: height .3s linear, width .3s linear;

      img {
        transform: rotate(-90deg);
        transform-origin: center;
        width: 400%;
        height: 100%;
        transition: transform .3s linear, width .3s linear .2s;
        object-fit: contain;
      }
    }

    .ship.vertical[data-length="3"] {
      width: 40px;
      height: 120px;
      transition: height .3s linear, width .3s linear;

      img {
        transform: rotate(-90deg);
        transform-origin: center;
        width: 300%;
        height: 100%;
        transition: transform .3s linear, width .3s linear .2s;
        object-fit: contain;
      }
    }

    .ship.vertical[data-length="2"] {
      width: 40px;
      height: 80px;
      transition: height .3s linear, width .3s linear;

      img {
        transform: rotate(-90deg);
        //transform-origin: center;
        width: 200%;
        //height: 100%;
        transition: transform .3s linear, width .3s linear .2s;
        //object-fit: contain;
      }
    }

    .ship:hover {
      box-shadow: inset 0 0 15px rgba($color-3, 0.9), 0 0 25px rgba($color-3, 0.9);
      scale: 1.2;
    }

    //.ship:active {
    //  box-shadow: inset 0 0 13px rgba($color-2, 0.8), 0 0 13px rgba($color-2, 0.8);
    //}

    .ship.dragging {
      opacity: 0.8;
      cursor: grabbing;
    }

    .ship.placed {
      position: absolute;
      box-shadow: none;
      cursor: default;
      z-index: 10;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(10, 40px);
      grid-template-rows: repeat(10, 40px);
      width: 400px;
      height: 400px;
      box-sizing: content-box;
      border: 4px solid $color-4;
      position: relative;

    }
    .grid-cell {
      width: 40px;
      height: 40px;
      border: 1px solid grey;
      box-sizing: border-box;
      transition: background-color 0.2s;
      @include background-overlay($color-bg, 0.7);
    }

    .grid-cell.drag-over {
      background-color: #0ebadd;
    }

    .grid-cell.invalid {
      background-color: #f33c3c;
    }

    .grid-wrapper, .enemy-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    //Отображение вражеских ячеек
    .grid-container .enemy-ship-cell {
      background-color: #bbb ;
    }

    .grid-cell.hit {
      background-color: #ff4d4f;
    }

    .grid-cell.miss {
      background-color: transparent; //цвет чяейки при попадании
      position: relative;
    }

    .grid-cell.miss::after {
      color: #555;
      font-size: 24px;
      position: absolute;
      top: 4px;
      left: 12px;
    }

    .grid-cell.ai-hit {
      background-color: red;
      z-index: 100;
      opacity: 0.4;
    }

    .grid-cell.ai-miss {
      background-color: transparent;
    }


    .color-palette {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
      gap: 16px;
      max-width: 900px;
      margin: auto;
    }

    .color-block {
      border-radius: 12px;
      padding: 20px;
      text-align: center;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    }

    .color-1 {
      background-color: #153d3c;
    }

    .color-2 {
      background-color: #1b6c7e;
    }

    .color-3 {
      background-color: #2f8e8b;
    }

    .color-4 {
      background-color: #0b1a1a;
    }

    .color-5 {
      background-color: #3a5557;
    }

    .color-6 {
      background-color: #1a1a1a;
    }

    .color-7 {
      background-color: #c9a66b;
    }
  }
}

footer {
  text-align: center;
  padding: 15px;
  @include background-overlay($color-bg, 0.6);
  color: $MainText-color;
  font-size: 14px;
  font-family: 'Pirata One', cursive;
  letter-spacing: 1px;
}